{% load mytags %}
<td class="test-author"><a href="/user/{{ test.author }}/">{{ test.author }}</a></td>
<td class="test-engine">{{ test.dev_engine }}</td>
<td class="test-revision">
    <a class="revision-link" href="{{ test|workload_url }}">{{ test|prettyDevName }}</a>
    <div class="revision-meta">
        <span class="workload-id">#{{ test.id }}</span>
        {% include "OpenBench/Blocks/workloadstatus.html" %}
        {% if test.error %}<span class="test-error" title="A worker reported a crash or illegal move">Error</span>{% endif %}
        {% if test|test_variant_name %}<span class="test-flag">{{ test|test_variant_name }}</span>{% endif %}
    </div>
</td>
<td class="test-comparison"><a href="{{ test|gitDiffLink }}" aria-label="Compare code for test {{ test.id }}">diff ↗</a></td>
<td class="time-control">
    {{ test.dev_time_control }}
    {% if test|test_is_time_odds %}<span class="test-flag" title="Different time controls">Time odds</span>{% endif %}
    {% if test|test_is_smp_odds %}<span class="test-flag" title="Different thread counts">Thread odds</span>{% endif %}
</td>
<td class="statblock statblock-{{ test|testResultColour }}">
    {{ test|shortStatBlock|linebreaksbr }}
</td>
