{% extends "OpenBench/base.html" %}

{% load mytags %}

{% block content %}

    <table class="hoverable">

        <thead><tr class="table-header">
            <th scope="col">Date</th>
            <th scope="col">#</th>
            <th scope="col">User</th>
            <th scope="col">Test</th>
            <th scope="col">Summary</th>
            <th scope="col">Logs</th>
        </tr></thead>
        <tbody>

        {% for event in events %}
            <tr>
                <td class="timestamp">{{event.created|date:'U'}}</td>
                <td><a href="/machines/{{event.machine_id}}">{{event.machine_id}}</a></td>
                <td>{{event.author|capfirst}}</td>
                <td><a href="{{event.test_id|workload_url}}">{{event.test_id|testIdToPrettyName}}</a></td>
                <td>{{event.summary}}</td>
                <td>{% if event.log_file %}<a href='/event/{{event.id}}'>View</a>{% endif %}</td>
            </tr>
        {% empty %}
            <tr><td colspan="6" class="empty-state">No errors</td></tr>
        {% endfor %}
        </tbody>

    </table>

    {% include "OpenBench/Blocks/pagebrowser.html" %}

{% endblock %}
