{% extends "OpenBench/base.html" %}

{% load mytags %}

{% block content %}

    <table class="hoverable">

        <thead><tr class="table-header">
            <th scope="col">Date</th>
            <th scope="col">User</th>
            <th scope="col">Test</th>
            <th scope="col">TC</th>
            <th scope="col">Summary</th>
        </tr></thead>
        <tbody>

        {% for event in events %}
            <tr>
                <td class="timestamp">{{event.created|date:'U'}}</td>
                <td>{{event.author|capfirst}}</td>
                <td><a href="{{event.test_id|workload_url}}">{{event.test_id|testIdToPrettyName}}</a></td>
                <td>{{event.test_id|testIdToTimeControl}}</td>
                <td>{{event.summary}}</td>
            </tr>
        {% empty %}
            <tr><td colspan="5" class="empty-state">No events</td></tr>
        {% endfor %}
        </tbody>

    </table>

    {% include "OpenBench/Blocks/pagebrowser.html" %}

{% endblock %}
