{% extends "OpenBench/base.html" %}

{% block content %}

    <form class="form form-narrow" method="POST" action="/login/">
        {% csrf_token %}
        <div class="form">
            <div class="form-stack">
                <div class="field">
                    <label for="login-username">Username</label> <input id="login-username" type="text" name="username" autocomplete="username" required>
                </div>
                <div class="field">
                    <label for="login-password">Password</label> <input id="login-password" type="password" name="password" autocomplete="current-password" required>
                </div>
                <input type="submit" name="submit" value="Login" class="anchorbutton btn-blue w-100">
            </div>
        </div>
    </form>

{% endblock %}
