{% extends "OpenBench/base.html" %}

{% load mytags %}

{% block content %}

    <table class="hoverable">

        <thead><tr class="table-header">
            <th scope="col">#</th>
            <th scope="col">User</th>
            <th scope="col">Name</th>
            <th scope="col">System</th>
            <th scope="col">ISA</th>
            <th scope="col">Workload</th>
            <th scope="col">Threads</th>
            <th scope="col">NPS</th>
        </tr></thead>
        <tbody>

        {% for machine in machines %}
            <tr>
                <td class="numeric"><a href="/machines/{{machine.id}}/">{{machine.id}}</a></td>
                <td>{{machine.user.username|capfirst}}</td>
                <td>{{machine.info.machine_name}}</td>
                <td>{{machine.info.os_name}}</td>
                <td>{{machine.info.isa_name}}</td>
                <td>
                    {% if machine.workload %}
                        <a href="{{machine.workload|workload_url}}">
                            {{machine.workload|workload_pretty_name}}
                        </a>
                    {% else %}
                        None
                    {% endif %}
                </td>
                <td class="numeric">{{machine.info.concurrency}}</td>
                <td class="numeric">{{machine.dev_mnps|twoDigitPrecision}}M / {{machine.base_mnps|twoDigitPrecision}}M</td>
            </tr>
        {% empty %}
            <tr><td colspan="8" class="empty-state">No connected machines</td></tr>
        {% endfor %}
        </tbody>

    </table>

{% endblock %}
