{% extends "OpenBench/base.html" %}

{% block content %}

    <form class="form form-narrow" id="registerForm" method="POST" action="/register/">
        {% csrf_token %}
        <div class="form">
            <div class="form-stack">
                <div class="field">
                    <label for="register-username">Username</label><input id="register-username" name="username" autocomplete="username" required>
                </div>
                <div class="field">
                    <label for="register-password">Password</label><input id="register-password" type="password" name="password1" autocomplete="new-password" required>
                </div>
                <div class="field">
                    <label for="register-confirmation">Confirm password</label><input id="register-confirmation" type="password" name="password2" autocomplete="new-password" required>
                </div>
                <div class="field">
                    <label for="register-email">Email address</label><input id="register-email" type="email" name="email" autocomplete="email">
                </div>
                <input class="anchorbutton btn-blue w-100" type="submit" name="submit" value="Create User">
            </div>
        </div>
    </form>

{% endblock %}
