{% extends "OpenBench/base.html" %}

{% load mytags %}

{% block content %}

    <table class="hoverable">

        <thead><tr class="table-header">
            <th scope="col">Username</th>
            <th scope="col">Games</th>
            <th scope="col">Tests</th>
            <th scope="col">Engine</th>
            <th scope="col">Created</th>
        </tr></thead>
        <tbody>

        {% for profile in profiles %}
            {% if profile.games or profile.tests or profile.approver %}
                <tr>
                    <td><a href="/user/{{profile.user.username}}">{{profile.user.username}}</a></td>
                    <td style="text-align: right">{{profile.games|insertCommas}}</td>
                    <td style="text-align: right">{{profile.tests|insertCommas}}</td>
                    <td>{{profile.engine}}</td>
                    <td class="timestamp">{{profile.user.date_joined|date:'U'}}</td>
                </tr>
            {% endif %}
        {% endfor %}
        </tbody>

    </table>

{% endblock %}
